{% extends 'base.html' %}
{% block title %}Home Attendance Control{% endblock %}
{% block style %}
<link rel="stylesheet" href="/media/css/home/home.css">
{% endblock %}
{% block script %}
<script src="/media/js/home/report.js"></script>
{% endblock %}
{% block content %}
<br>
<div class="container">
	<div class="well">
		<h1 class='text-primary'><strong>Reporte de Asistencia</strong></h1>
		<div class="row">
			<div class="col-md-12">
				<label class="radio text-info">
						<input type="radio" name="report" value="t"> Generar Reporte General
					</label>
				<div class="t bs-callout">
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">Año</label>
								<select name="ganio" id="ganio" class="form-control">
									{% for x in anios %}
										<option value="{{x}}">{{x}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">Mes</label>
								<select name="gmes" id="gmes" class="form-control">
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">Periodo</label>
								<select name="gperiodo" id="gperiodo" class="form-control">
									<option value="1">Primera Quincena</option>
									<option value="2">Segunda Quincena</option>
									<option value="3">Todo el Mes</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">
									<a class="agen">Avanzado <span class="glyphicon glyphicon-chevron-down"></span></a>
								</label>
							</div>
						</div>
						<div class="col-md-1">
							<button class="btn btn-primary btn-lg reportgen">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="bs-callout bs-callout-warning avanzadogen">
						<small> Opciones Avanzadas </small>
						<br>
						<em>Buscar entre fechas.</em>
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label">Fecha Inicio</label>
									<input type="text" id="tfi" class="form-control fi">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label">Fecha Fin</label>
									<input type="text" id="tff" class="form-control ff">
								</div>
							</div>
							<div class="col-md-1">
								<button class="btn btn-warning tblack btn-lg">
								<span class="glyphicon glyphicon-search"></span>
							</button>
							</div>
						</div>
					</div>
				</div>
				<label class="radio text-info">
					<input type="radio" name="report" value="p"> Generar Reporte Personal
				</label>
				<div class="p bs-callout">
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Personal</label>
								<select name="per" id="per" class="form-control">
									<option value=""> -- Selecttion --</option>
									{% for x in emp %}
									<option value="{{x.empdni_id}}">{{x.empnom}}, {{x.empape}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">Año</label>
								<select name="panio" id="panio" class="form-control">
									{% for x in anios %}
										<option value="{{x}}">{{x}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">Mes</label>
								<select name="pmes" id="pmes" class="form-control">
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">Periodo</label>
								<select name="pperiodo" id="pperiodo" class="form-control">
									<option value="1">Primera Quincena</option>
									<option value="2">Segunda Quincena</option>
									<option value="3">Todo el Mes</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<label class="control-label">
									<a class="aper">Avanzado <span class="glyphicon glyphicon-chevron-down"></span></a>
								</label>
							</div>
						</div>
						<div class="col-md-1">
							<button class="btn btn-primary btn-lg reportper">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
					<div class="bs-callout bs-callout-warning avanzadoper">
						<small> Opciones Avanzadas </small>
						<br>
						<em>Buscar entre fechas.</em>
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label">Fecha Inicio</label>
									<input type="text" id="pfi" class="form-control fi">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label">Fecha Fin</label>
									<input type="text" id="pff" class="form-control ff">
								</div>
							</div>
							<div class="col-md-1">
								<button class="btn btn-warning tblack btn-lg btn-advance-per">
								<span class="glyphicon glyphicon-search"></span>
							</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="msg-client">
	<div class="alert alert-block alert-danger">
		<a class="close" data-dismiss="alert" type="Button">&times;</a>
		<h4 class="msg-tittle">Oh no, Tienes un error!</h4>
		<p>
			Resulta que no has seleccionado un personal para poder ver el detalle de asistencia.
		</p>
		<p class="text-right">
		</p>
	</div>
</div>

{% endblock %}