{% extends 'base.html' %}
{% block title %}Home Attendance Control{% endblock %}
{% block style %}
<link rel="stylesheet" href="/media/css/home/home.css">
{% endblock %}
{% block content %}
<h1 class="text-center">
	<strong>Control de Asistencia</strong><br>
	<small>Control Personal</small>
	<span class="glyphicon glyphicon-user"></span>
</h1>
<br>
<br>
<br>
<div class="container">
	<div class="well">
		<div class="row">
			<div class="col-md-6 text-center">
				<a href="{% url 'vw_register_now' %}" class="col-md-12 btn btn-lg btn-success tblack">
					<h2>
						<span class="glyphicon glyphicon-calendar"></span>
						Registrar Asistencia
					</h2>
				</a>
			</div>
			<div class="col-md-6 text-center">
				<a href="/admin/" class="col-md-12 btn btn-lg btn-info tblack">
					<h2>
						<span class="glyphicon glyphicon-fire"></span>
						Mantenimientos
					</h2>
				</a>
			</div>
			<div class="col-md-offset-4 col-md-4">
				<a href="{% url 'vw_report' %}" class="col-md-12 btn btn-lg btn-warning tblack">
					<h2>
						Reportes
					</h2>
				</a>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</div>
</div>
{% endblock %}